body {
    background-color: #f5f5f5;
}

.header {
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 710px 1fr;
    align-items: center;
    justify-items: start;
    &-logo {
        grid-column-start: 2;
        font-size: 24px;
        color: #000;
        text-decoration: none;
    }
}

.posts {
    margin: auto;
    padding: 0;
    width: 710px;
    box-shadow: 0 1px 3px 0px #c6cad5;
    background-color: #fff;
}

.posts-item {
    display: flex;
    padding: 16px;
    border-bottom: 1px solid var(--color-border);
    transition: 0.3s;
    border-bottom: 1px solid #f1f2f5;

    &-title {
        cursor: pointer;
    }

    &-delete {
        margin-left: auto;
        cursor: pointer;
        &:hover {
            padding: 0 5px;
            border-radius: 3px;
            background-color: tomato;
            color: azure;
            transition: all 0.3s;
        }
    }
}

.post {
    margin: auto;
    padding: 0;
    width: 710px;
}

.create-post {
    margin: auto;
    padding: 0;
    width: 710px;
    display: grid;
    grid-template-rows: 30px auto 30px;
    justify-items: center;
    grid-gap: 20px;

    .post-content {
        min-height: 200px;
    }

    .post-confirm {
        width: 60px;
        outline: white;
        &:hover {
            border: none;
            background-color: skyblue;
            border-radius: 3px;
            transition: all 0.3s;
            color: azure;
        }
    }

    .post-title,
    .post-content {
        padding: 10px;
        width: 100%;
        outline: white;
        border: none;
        &:hover,
        &:focus {
            border-radius: 5px;
            outline: 1px solid skyblue;
            transition: all 0.3s;
        }
    }
}
